<!DOCTYPE html>
<!--highlightjs-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlightjs-themes@1.0.0/monokai_sublime.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>


<!-- Include the Quill library -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.0.3/showdown.min.js" integrity="sha512-vx8rJNrYIZPDr290AV2tL04x0CKjLHSnTXrHMeb1kqbhfGwBnclPDOWIWxRiVS6Oe1oGzk5MzNz/eLzVku30kg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Katex -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>

<script src="/metadataManagement.js"></script>
<script src="/formSerialization.js"></script>

<h1 id="title"></h1> <a href="/" >
    <br>
<a href="/" class="btn btn-info" role="button">Go back to homepage</a>
<a href="/preview" class="btn btn-info" role="button">Generate preview</a>

    <br>
    <br>

<h2>Metadata</h2>

<div id="metadata" style="padding-left: 15px;padding-right: 15px;">
    <form id="metadataForm">
    <!--This will be filled with the metadata that exists-->
    </form>
</div>

<br>
<br>
<br>
<h2>Content</h2>

<div id="editor"></div>

<button onclick=serializeCurrentContent()>Click me to serialize</button>
<button onclick=getMetadataAsJSON()>Click me to serialize metadata</button>


<br><br><br>
<h2>Export Markdown</h2>
<div id="markdownExport"></div>

<script>

    const titleParam = "{{path}}";
    document.getElementById("title").innerText = titleParam;
    const filename = titleParam;
    const filepath = `/${filename}`;

    hljs.configure({   // optionally configure hljs
        languages: ['javascript', 'ruby', 'python', 'java', 'c']
    });

    const options = {
    theme: 'snow',
    modules: {
        syntax: true, 
        toolbar: [
            ['image'],
            ['bold', 'italic', 'underline', 'strike', 'link', 'blockquote', 'code-block', 'formula'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            ['clean']
    ]
    },
    }
    // Create editor

    const editor = new Quill('#editor', options)

    // Get file content and metadata
    fetch(filepath).then(response => response.text()).then(text => {
        const converter = new showdown.Converter({metadata: true});
        const html = converter.makeHtml(text);       // Convert markdown to html
        const metadata = converter.getMetadata();    // Get metadata from file
        editor.clipboard.dangerouslyPasteHTML(html); // paste html into editor
        displayMetadata(metadata);                   // Display metadata
    });
    editor.update();
     // End of setting up page

    

    function serializeCurrentContent() {
        // Serialize the current content of the editor & Metadata
        const converter = new showdown.Converter();
        var metadata = getMetadataAsJSON();
        var content = converter.makeMarkdown(editor.root.innerHTML);
        var title = document.getElementById("title").innerText;
        var content_json = {
            "title": title,
            "content": content,
            "metadata": metadata
        }
        markdownExportDiv = document.getElementById("markdownExport");

        // Printing out data to test
        const titleData = document.createElement("h3");
        titleData.style.backgroundColor = "red";
        titleData.innerText = "File Path =" + content_json["title"];

        const contentData = document.createElement("div");
        contentData.style.backgroundColor = "lightgrey";
        contentData.innerText = "content: \n" + content_json["content"];

        const metadataData = document.createElement("div");
        metadataData.style.backgroundColor = "cyan";
        metadataData.innerText = "Metadata: " + JSON.stringify(content_json["metadata"]);

        markdownExportDiv.innerText = JSON.stringify(content_json, null, 4);
        markdownExportDiv.appendChild(titleData);
        markdownExportDiv.appendChild(contentData);
        markdownExportDiv.appendChild(metadataData);

        fetch(filepath, {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(content_json)
        }).then(res => {
            console.log("Request complete! response:", res);
            window.location.reload();
        });

        // console.log(content_json)
        // return content_json;
    }
</script>